# Virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
logs/*
!logs/threshold.json
!logs/model_metrics.json
!logs/evaluation_report.txt

# Data
data/raw/
*.csv
!data/processed/*.csv

# Model files
*.pkl
!models/model_v1.pkl
!models/rul_model.pkl

# IDE
.idea/

# Misc
test_preprocess.py

test_repo/